<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${item != null} ? 'Edit ' + ${item.title} : 'Create Todo Item'"></title>
    <link href="/css/verde.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 th:text="${item != null} ? 'Edit ' + ${item.title} : 'Create a New Todo Item'"></h1>

    <!-- Formulário para criar ou editar um item -->
    <form th:action="${item != null} ? @{/items/edit} : @{/items/create}" method="post">
        <!-- Campo oculto para enviar o listId -->
        <input type="hidden" name="listId" th:value="${listId}" />
        <input type="hidden" name="id" th:value="${item != null} ? ${item.id} : ''" />

        <!-- Campo para o título do item -->
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" th:value="${item != null} ? ${item.title} : ''" placeholder="Enter the title" required />
        </div>

        <!-- Campo para a descrição do item -->
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4" placeholder="Enter the description" th:text="${item != null} ? ${item.description} : ''"></textarea>
        </div>

        <!-- Botão de envio -->
        <div class="form-group">
            <button type="submit" th:text="${item != null} ? 'Save Changes' : 'Create Item'"></button>
        </div>
    </form>

    <!-- Botão para voltar -->
    <div class="button">
        <form th:action="@{/list_dashboard}" method="get">
            <input type="hidden" name="id" th:value="${listId}" />
            <button type="submit" class="button create-button">Back to List</button>
        </form>
    </div>
</div>
</body>
</html>


