<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>History</title>
  <link href="/css/verde.css" rel="stylesheet">
</head>
<body>

<div class="container">
  <h1>Completed Todo Items</h1>

  <!-- Lista dos itens completados -->
  <ul>
    <li th:each="todoItem : ${itemList}" th:if="${todoItem.completed}">
      <div class="todo-item">
        <h2 th:text="${todoItem.title}" class="todo-title">Item Title</h2>
        <p th:text="${todoItem.description}" class="todo-description">Item Description</p>
      </div>
    </li>
  </ul>

  <!-- Botão para voltar -->
  <div class="button">
    <a href="#" th:href="@{/list_dashboard/{id}(id=${listId})}" class="button create-button">Back to List</a>
  </div>
</div>

</body>
</html>
