
<!--
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
layout:decorate="~{fragments/layout}">
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/verde.css" rel="stylesheet">
    <title>Your Todo Lists</title>
</head>
<body>

<div class="todo-lists-container">
    <h1>Your Todo Lists, <span th:text="${user.username}">username</span>:</h1>

    <ul>
        <!-- Iterando sobre a lista de TodoLists do usuário -->
        <li th:each="todoList : ${todoLists}">
            <form th:action="@{/list_dashboard/{id}(id=${todoList.id})}" method="get">
                <!-- O botão contém o título e descrição da lista -->
                <button type="submit">
                    <h2 th:text="${todoList.title}">Todo List Title</h2>
                    <p th:text="${todoList.description}">Todo List Description</p>
                </button>
            </form>
        </li>
    </ul>
</div>

</body>
</html>