<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dashboard</title>
    <link href="/css/verde.css" rel="stylesheet">
</head>
<body>


<div class="container">
    <!-- Botão para voltar para a home -->
    <div class="navigation-buttons">
        <a href="#" th:href="@{/home}" class="button create-button">Back to Home</a>
        <!-- Botão para criar um novo item -->
        <a th:href="@{/create_item(listId=${listId})}" class="button create-button">Create Todo Item</a>
    </div>

    <h1><span th:text="${title}">Dashboard</span></h1>
    <p><span th:text="${description}"></span></p>
    <ul>
        <li th:each="todoItem : ${itemList}" th:if="${!todoItem.completed}">
            <div class="todo-item">
                <h2 th:text="${todoItem.title}" class="todo-title">Item Title</h2>
                <p th:text="${todoItem.description}" class="todo-description">Item Description</p>
                <!-- Botão para marcar como feito -->
                <form th:action="@{/items/{id}/complete(id=${todoItem.id})}" method="post">
                    <input type="hidden" name="listId" th:value="${listId}" />
                    <button type="submit">Mark as Done</button>
                </form>

                <!-- Botão para editar a list
                <a th:href="@{/edit_list(id=${todoItem.id})}" class="button edit-button">Edit</a>-->
            </div>
        </li>
    </ul>
</div>
</body>
</html>
