<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="/css/verde.css" rel="stylesheet">
</head>
<body>
<div class="register-container">
    <h1>Register</h1>
    <form action="/users" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>

        <input type="hidden" name="role" value="USER"> <!-- Preenche automaticamente o role -->

        <button type="submit">Register</button>
    </form>

    <div >
        <form th:action="@{/login}" method="get">
            <button type="submit" class="button create-button">Back to Login</button>
        </form>
    </div>

</div>
</body>
</html>